/*------- RESET DEFAULT STYLE -------- */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*------- GENERAL -------- */
body{
        font-family: "Edu TAS Beginner", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

/*------- UTILITY -------- */
.d-flex{
    display: flex;
}
.centerContent{
    align-items: center;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}

/*------- HEADER -------- */
header{
    
    height: 100px;
    background-image: url("../img/wall.png");
}
h1{
    font-size: 5em;
}

/*------- MAIN -------- */
main{
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    background-image: url("../img/cork.png");
}
.containerMain{
    width: 50%;
    height: 80%;
    padding: 10px;

}
.containerCard{
    flex-grow: 1;
}
.card{
    position: relative;
    top: 0%;
    left: 0%;
    background-color: white;
    margin: 10px;
    height: 50%;
    width: calc((100% / 3) - 20px);
}

.imgCard{
    padding: 10px;
    height: 75%;
    border: 1px solid black
}
.textCard{
    padding-left: 10px;
    padding-top: 5px;
    height: 25%;
    border: 1px solid black
}
.bgColored{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: chocolate;
}

.card img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
}

/*------- COLORS -------- */
#img1{
    background-color: cadetblue;
}
#img2{
    background-color: rgb(9, 255, 0);
}
#img3{
    background-color: rgb(229, 255, 0);
}
#img4{
    background-color: rgb(248, 2, 187);
}
#img5{
    background-color: cadetblue;
}
#img6{
    background-color: rgb(255, 145, 0);
}
