/*------- RESET DEFAULT STYLE -------- */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*------- GENERAL -------- */
body{
        font-family: "Edu TAS Beginner", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-image: url("../img/cork.png");
}

/*------- UTILITY -------- */
.d-flex{
    display: flex;
}
.centerContent{
    align-items: center;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.d-none{
    display: none !important;
}

/*------- HEADER -------- */
header{
    
    height: 100px;
    background-image: url("../img/wall.png");
}
h1{
    font-size: 5em;
}

/*------- MAIN -------- */
main{
    display: flex;
    align-items: center;
}

.containerMain{
    width: 45%;
    height: 80%;
    padding: 10px;
}
.containerCard{
    flex-grow: 1;
}
.card{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position: relative;
    top: 0%;
    left: 0%;
    background-color: white;
    margin: 10px;
    height: 300px;
    width: calc((100% / 3) - 20px);
    min-width: 200px;
    
}

.imgCard{
    padding: 10px;
    height: 75%;

}
.textCard{
    padding-left: 10px;
    padding-top: 5px;
    height: 25%;

}

.card>img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 25px;
}
.imgCard>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    
}

.card:hover .pin{
    display: none;
}

.card:hover {
    z-index: 100;
    -webkit-box-shadow: 14px 19px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 19px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 19px 18px 0px rgba(0,0,0,0.75);
    transform: rotate(15deg);
    transition: 1s;
}
.card:hover img{
   cursor: pointer;
}


.overlay{
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
}

.overlay img{
    
    margin-top: 10px;
    object-fit: contain;
    width: 500px;
}

.overlay button:first-child{
    padding: 10px;
    border: 0;
    background-color: red;
    color: white;
    border: 1px solid white;
}
.overlay button:first-child:hover{
    cursor: pointer;
}
#aggiungi{
    padding: 10px;
    border: 0;
    background-color: rgb(14, 172, 0);
    color: white;
    border: 1px solid white;
}
.overlay button:last-child{
    padding: 10px;
    border: 0;
    background-color: rgb(255, 217, 0);
    color: white;
    border: 1px solid white;
}

